In [1]:
from pprint import pprint

In [2]:
from pyspark.sql import SparkSession
spark = (SparkSession.builder
         .appName('ddam_project')
         .config('spark.some.config.option','some-value')
         .getOrCreate()
         )

In [3]:
df_cleaned = spark.read.csv("hdfs://masterbig-1.itc.unipi.it:54310/user/student18/df_cleaned.csv", header = True, inferSchema = True)
df_cleaned.printSchema()

root
 |-- id: long (nullable = true)
 |-- Hotel_Address: string (nullable = true)
 |-- Additional_Number_of_Scoring: integer (nullable = true)
 |-- Review_Date: string (nullable = true)
 |-- Average_Score: double (nullable = true)
 |-- Hotel_Name: string (nullable = true)
 |-- Reviewer_Nationality: string (nullable = true)
 |-- Review_Total_Negative_Word_Counts: integer (nullable = true)
 |-- Total_Number_of_Reviews: integer (nullable = true)
 |-- Review_Total_Positive_Word_Counts: integer (nullable = true)
 |-- Total_Number_of_Reviews_Reviewer_Has_Given: integer (nullable = true)
 |-- Reviewer_Score: double (nullable = true)
 |-- Tags: string (nullable = true)
 |-- days_since_review: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- lng: string (nullable = true)
 |-- Review: string (nullable = true)

In [30]:
df_cleaned.take(3)

[Row(id=14, Hotel_Address='s Gravesandestraat 55 Oost 1092 AA Amsterdam Netherlands', Additional_Number_of_Scoring=194, Review_Date='7/4/2017', Average_Score=7.7, Hotel_Name='Hotel Arena', Reviewer_Nationality='Canada', Review_Total_Negative_Word_Counts=35, Total_Number_of_Reviews=1403, Review_Total_Positive_Word_Counts=15, Total_Number_of_Reviews_Reviewer_Has_Given=1, Reviewer_Score=8.8, Tags="[' Leisure trip ', ' Family with young children ', ' Large King Room ', ' Stayed 5 nights ', ' Submitted from a mobile device ']", days_since_review='30 days', lat='52.3605759', lng='4.9159683', Review='the staff in the restaurant could of been more pleasant we only visited once but that wouldn t stop us from booking again it might of just been an off night for him .  it was very good very historic building that s why I chose it'),
 Row(id=374, Hotel_Address='s Gravesandestraat 55 Oost 1092 AA Amsterdam Netherlands', Additional_Number_of_Scoring=194, Review_Date='11/3/2015', Average_Score=7.7, Hotel_Name='Hotel Arena', Reviewer_Nationality='United Kingdom', Review_Total_Negative_Word_Counts=0, Total_Number_of_Reviews=1403, Review_Total_Positive_Word_Counts=16, Total_Number_of_Reviews_Reviewer_Has_Given=2, Reviewer_Score=9.2, Tags="[' Leisure trip ', ' Couple ', ' Duplex Double Room ', ' Stayed 2 nights ', ' Submitted from a mobile device ']", days_since_review='639 day', lat='52.3605759', lng='4.9159683', Review='the overall hotel was fine would love to return when the building work is complete'),
 Row(id=681, Hotel_Address='1 15 Templeton Place Earl s Court Kensington and Chelsea London SW5 9NB United Kingdom', Additional_Number_of_Scoring=244, Review_Date='10/1/2015', Average_Score=8.5, Hotel_Name='K K Hotel George', Reviewer_Nationality='United Kingdom', Review_Total_Negative_Word_Counts=6, Total_Number_of_Reviews=1831, Review_Total_Positive_Word_Counts=68, Total_Number_of_Reviews_Reviewer_Has_Given=2, Reviewer_Score=8.8, Tags="[' Leisure trip ', ' Couple ', ' Classic Double Room ', ' Stayed 2 nights ']", days_since_review='672 day', lat='51.4918878', lng='-0.1949706', Review='no bad experiences at all.  there was little or nothing wrong with this excellent hotel our room was very comfortable and a good size for a london hotel it was clean tidy and well equipped the staff were first class they were polite helpful and did it all with a smile which meant a lot the breakfast menu was comprehensive and of good quality we will certainly pay a return visit')]

## Hotel City-Nationality Extraction

In [5]:
import reverse_geocode

In [6]:
# check na value for lat/lng
df_cleaned.select('lat','lng').rdd.filter(lambda x: x['lng']== 'NA').count()

3267

In [8]:
coord =[ (43.6753176,10.5408628) ]
reverse_geocode.search(coord)

[{'city': 'Cascina', 'country': 'Italy', 'country_code': 'IT'}]

In [6]:
   
df_coord = ( df_cleaned.select('id', 'lat', 'lng').rdd
            .filter(lambda x: x['lat']!='NA' and x['lng']!='NA')
             .map(lambda x: (x['id'], [ [float(x['lat']), float(x['lng'])] ] )) 
             .map(lambda x: (x[0], reverse_geocode.search(x[1])))
             .map(lambda x: (x[0] , x[1][0]['city'], x[1][0]['country'], x[1][0]['country_code']))
            ).toDF(['id','city','country','country_code'])

In [7]:
pprint(df_coord.take(5))

[Row(id=14, city='Amsterdam', country='Netherlands', country_code='NL'),
 Row(id=374, city='Amsterdam', country='Netherlands', country_code='NL'),
 Row(id=681, city='Kensington', country='United Kingdom', country_code='GB'),
 Row(id=860, city='Kensington', country='United Kingdom', country_code='GB'),
 Row(id=1014, city='Clerkenwell', country='United Kingdom', country_code='GB')]

In [8]:
df_coord.groupby('country').count().orderBy('count', ascending = False).show()

+--------------+------+
|       country| count|
+--------------+------+
|United Kingdom|262194|
|         Spain| 59907|
|        France| 59514|
|   Netherlands| 57190|
|         Italy| 37188|
|       Austria| 36239|
+--------------+------+

In [59]:
df_coord.groupby('country_code', 'country', 'city').count().orderBy('country','count',ascending = False).show(100)

+------------+--------------+--------------------+-----+
|country_code|       country|                city|count|
+------------+--------------+--------------------+-----+
|          GB|United Kingdom|              London|42532|
|          GB|United Kingdom|          Kensington|36917|
|          GB|United Kingdom|           Bayswater|33520|
|          GB|United Kingdom|  West End of London|31523|
|          GB|United Kingdom|      City of London|20081|
|          GB|United Kingdom| City of Westminster|10565|
|          GB|United Kingdom|        Canary Wharf|10238|
|          GB|United Kingdom|            Barbican| 9897|
|          GB|United Kingdom|             Chelsea| 9731|
|          GB|United Kingdom|              Poplar| 9629|
|          GB|United Kingdom|             Wembley| 6535|
|          GB|United Kingdom|         Camden Town| 6227|
|          GB|United Kingdom|        Belsize Park| 5173|
|          GB|United Kingdom|         Clerkenwell| 4452|
|          GB|United Kingdom|       Bethnal Green| 3998|
|          GB|United Kingdom|               Acton| 3313|
|          GB|United Kingdom|          Blackheath| 3269|
|          GB|United Kingdom|             Lambeth| 3139|
|          GB|United Kingdom|           Barnsbury| 3104|
|          GB|United Kingdom|           Battersea| 2367|
|          GB|United Kingdom|           Islington| 1567|
|          GB|United Kingdom|             Barking| 1463|
|          GB|United Kingdom|          Wandsworth|  586|
|          GB|United Kingdom|           Brentford|  519|
|          GB|United Kingdom|            Chigwell|  463|
|          GB|United Kingdom|            Northolt|  413|
|          GB|United Kingdom|      Buckhurst Hill|  328|
|          GB|United Kingdom|              Morden|  260|
|          GB|United Kingdom|           Harringay|  223|
|          GB|United Kingdom|            Richmond|  162|
|          ES|         Spain|         Barri Gòtic| 6322|
|          ES|         Spain| Dreta de l'Eixample| 6321|
|          ES|         Spain|            el Raval| 5283|
|          ES|         Spain|            Eixample| 4533|
|          ES|         Spain|        Ciutat Vella| 3602|
|          ES|         Spain|Sant Pere, Santa ...| 2441|
|          ES|         Spain|l'Antiga Esquerra...| 2430|
|          ES|         Spain|           Barcelona| 2409|
|          ES|         Spain|         Hostafrancs| 2284|
|          ES|         Spain|el Parc i la Llac...| 2105|
|          ES|         Spain|          Fort Pienc| 2041|
|          ES|         Spain|        Diagonal Mar| 1968|
|          ES|         Spain|la Vila Olímpica ...| 1865|
|          ES|         Spain|el Besòs i el Mar...| 1741|
|          ES|         Spain|          La Bordeta| 1728|
|          ES|         Spain|      la Barceloneta| 1652|
|          ES|         Spain|Sant Gervasi - Ga...| 1097|
|          ES|         Spain|             el Clot| 1061|
|          ES|         Spain|         Sant Antoni| 1037|
|          ES|         Spain|         el Poblenou|  877|
|          ES|         Spain|  Barri de les Corts|  795|
|          ES|         Spain|           Les Corts|  713|
|          ES|         Spain|la Maternitat i S...|  614|
|          ES|         Spain|El Prat de Llobregat|  572|
|          ES|         Spain|el Putxet i el Farró|  525|
|          ES|         Spain|     Sagrada Família|  519|
|          ES|         Spain|           Poble Sec|  467|
|          ES|         Spain|        la Teixonera|  398|
|          ES|         Spain|              Gràcia|  364|
|          ES|         Spain|           Pedralbes|  352|
|          ES|         Spain|la Nova Esquerra ...|  327|
|          ES|         Spain|      Sants-Montjuïc|  293|
|          ES|         Spain|    la Vall d'Hebron|  195|
|          ES|         Spain|Sant Genís dels A...|  188|
|          ES|         Spain|       Sants - Badal|  176|
|          ES|         Spain|     Las Tres Torres|  148|
|          ES|         Spain| Sarrià-Sant Gervasi|  130|
|          ES|         Spain|Provenals del Pob...|  100|
|          ES|         Spain|         La Bonanova|   93|
|          ES|         Spain|               Sants|   91|
|          ES|         Spain|    el Baix Guinardó|   50|
|          NL|   Netherlands|           Amsterdam|45755|
|          NL|   Netherlands|        Duivendrecht| 3446|
|          NL|   Netherlands|          Amstelveen| 2599|
|          NL|   Netherlands|             Zaandam| 2519|
|          NL|   Netherlands|  Amsterdam-Zuidoost| 1067|
|          NL|   Netherlands|              Diemen|  843|
|          NL|   Netherlands|            Driemond|  506|
|          NL|   Netherlands|            Kadoelen|  455|
|          IT|         Italy|               Milan|30101|
|          IT|         Italy|  Sesto San Giovanni| 2499|
|          IT|         Italy|              Bresso| 2144|
|          IT|         Italy|     Novate Milanese|  595|
|          IT|         Italy|         Chiaravalle|  503|
|          IT|         Italy|              Figino|  467|
|          IT|         Italy|           Baranzate|  420|
|          IT|         Italy|             Corsico|  244|
|          IT|         Italy|              Linate|  189|
|          IT|         Italy|    Settimo Milanese|   26|
|          FR|        France|               Paris|30169|
|          FR|        France|    Levallois-Perret|10100|
|          FR|        France|              Clichy| 4879|
|          FR|        France|              Vanves| 4336|
|          FR|        France|          Saint-Ouen| 2858|
|          FR|        France|           Montrouge| 2497|
|          FR|        France|   Neuilly-sur-Seine| 1185|
|          FR|        France|            Malakoff| 1083|
|          FR|        France|      Ivry-sur-Seine|  688|
|          FR|        France|  Le Kremlin-Bicêtre|  426|
|          FR|        France| Issy-les-Moulineaux|  403|
+------------+--------------+--------------------+-----+
only showing top 100 rows

In [15]:
hotel_countries = df_coord.select('country').distinct().rdd.map(lambda x: x['country']).collect()

In [20]:
import re

In [16]:
hotel_countries

['France', 'Italy', 'Spain', 'Austria', 'United Kingdom', 'Netherlands']

In [34]:
# estrarre la nazionalità dall'indirizzo
def extractCountry(row):
    for country in hotel_countries:
        if country.lower() in row['Hotel_Address'].lower():
            return (row['id'], country )
    return 'EMPTY'
        
            
rdd_hotel_countries = df_cleaned.select('id', 'Hotel_Address').rdd.map(extractCountry)

In [39]:
# check if all reviews have an associated hotel_country 
rdd_hotel_countries.filter(lambda x: x[1] == 'EMPTY').count()

0

In [41]:
rdd_hotel_countries.take(1)

[(14, 'Netherlands')]

In [53]:
df_hotel_countries = rdd_hotel_countries.toDF(['id', 'Hotel_Country'])

In [54]:
df_hotel_countries.head(10)

[Row(id=14, Hotel_Country='Netherlands'),
 Row(id=374, Hotel_Country='Netherlands'),
 Row(id=681, Hotel_Country='United Kingdom'),
 Row(id=860, Hotel_Country='United Kingdom'),
 Row(id=1014, Hotel_Country='United Kingdom'),
 Row(id=1123, Hotel_Country='United Kingdom'),
 Row(id=1162, Hotel_Country='United Kingdom'),
 Row(id=1318, Hotel_Country='United Kingdom'),
 Row(id=1375, Hotel_Country='United Kingdom'),
 Row(id=1705, Hotel_Country='United Kingdom')]

In [55]:
df_cleaned.select('Reviewer_Nationality').distinct().count()

227

In [56]:
df_cleaned.select('Reviewer_Nationality').distinct().collect()

[Row(Reviewer_Nationality='Turks Caicos Islands'),
 Row(Reviewer_Nationality='Russia'),
 Row(Reviewer_Nationality='Paraguay'),
 Row(Reviewer_Nationality='Anguilla'),
 Row(Reviewer_Nationality='Yemen'),
 Row(Reviewer_Nationality='St Maarten'),
 Row(Reviewer_Nationality='Senegal'),
 Row(Reviewer_Nationality='Sweden'),
 Row(Reviewer_Nationality='Kiribati'),
 Row(Reviewer_Nationality='Guyana'),
 Row(Reviewer_Nationality='Philippines'),
 Row(Reviewer_Nationality='Jersey'),
 Row(Reviewer_Nationality='Eritrea'),
 Row(Reviewer_Nationality='Djibouti'),
 Row(Reviewer_Nationality='Singapore'),
 Row(Reviewer_Nationality='Malaysia'),
 Row(Reviewer_Nationality='Fiji'),
 Row(Reviewer_Nationality='Turkey'),
 Row(Reviewer_Nationality='Malawi'),
 Row(Reviewer_Nationality='Iraq'),
 Row(Reviewer_Nationality='Germany'),
 Row(Reviewer_Nationality='Northern Mariana Islands'),
 Row(Reviewer_Nationality='Comoros'),
 Row(Reviewer_Nationality='Cambodia'),
 Row(Reviewer_Nationality='Afghanistan'),
 Row(Reviewer_Nationality='Crimea'),
 Row(Reviewer_Nationality='Jordan'),
 Row(Reviewer_Nationality='Maldives'),
 Row(Reviewer_Nationality='Rwanda'),
 Row(Reviewer_Nationality='Ivory Coast'),
 Row(Reviewer_Nationality='Sudan'),
 Row(Reviewer_Nationality='Palau'),
 Row(Reviewer_Nationality='France'),
 Row(Reviewer_Nationality='Greece'),
 Row(Reviewer_Nationality='Kosovo'),
 Row(Reviewer_Nationality='Svalbard Jan Mayen'),
 Row(Reviewer_Nationality='Sri Lanka'),
 Row(Reviewer_Nationality='Montserrat'),
 Row(Reviewer_Nationality='Taiwan'),
 Row(Reviewer_Nationality='British Virgin Islands'),
 Row(Reviewer_Nationality='Dominica'),
 Row(Reviewer_Nationality='Algeria'),
 Row(Reviewer_Nationality='Togo'),
 Row(Reviewer_Nationality='Equatorial Guinea'),
 Row(Reviewer_Nationality='Slovakia'),
 Row(Reviewer_Nationality=None),
 Row(Reviewer_Nationality='Macau'),
 Row(Reviewer_Nationality='Reunion'),
 Row(Reviewer_Nationality='Argentina'),
 Row(Reviewer_Nationality='Belgium'),
 Row(Reviewer_Nationality='Angola'),
 Row(Reviewer_Nationality='San Marino'),
 Row(Reviewer_Nationality='East Timor'),
 Row(Reviewer_Nationality='Qatar'),
 Row(Reviewer_Nationality='Ecuador'),
 Row(Reviewer_Nationality='Lesotho'),
 Row(Reviewer_Nationality='Albania'),
 Row(Reviewer_Nationality='Madagascar'),
 Row(Reviewer_Nationality='Finland'),
 Row(Reviewer_Nationality='New Caledonia'),
 Row(Reviewer_Nationality='Ghana'),
 Row(Reviewer_Nationality='Nicaragua'),
 Row(Reviewer_Nationality='Myanmar'),
 Row(Reviewer_Nationality='Guernsey'),
 Row(Reviewer_Nationality='Peru'),
 Row(Reviewer_Nationality='Sierra Leone'),
 Row(Reviewer_Nationality='Benin'),
 Row(Reviewer_Nationality='India'),
 Row(Reviewer_Nationality='China'),
 Row(Reviewer_Nationality='Bahamas'),
 Row(Reviewer_Nationality='Belarus'),
 Row(Reviewer_Nationality='Kuwait'),
 Row(Reviewer_Nationality='Malta'),
 Row(Reviewer_Nationality='American Samoa'),
 Row(Reviewer_Nationality='Somalia'),
 Row(Reviewer_Nationality='Tuvalu'),
 Row(Reviewer_Nationality='Central Africa Republic'),
 Row(Reviewer_Nationality='Palestinian Territory'),
 Row(Reviewer_Nationality='Puerto Rico'),
 Row(Reviewer_Nationality='Tajikistan'),
 Row(Reviewer_Nationality='Chile'),
 Row(Reviewer_Nationality='Martinique'),
 Row(Reviewer_Nationality='Cocos K I'),
 Row(Reviewer_Nationality='Cayman Islands'),
 Row(Reviewer_Nationality='Isle of Man'),
 Row(Reviewer_Nationality='Croatia'),
 Row(Reviewer_Nationality='Bonaire St Eustatius and Saba'),
 Row(Reviewer_Nationality='Burundi'),
 Row(Reviewer_Nationality='Nigeria'),
 Row(Reviewer_Nationality='Andorra'),
 Row(Reviewer_Nationality='Bolivia'),
 Row(Reviewer_Nationality='Gabon'),
 Row(Reviewer_Nationality='Falkland Islands Malvinas'),
 Row(Reviewer_Nationality='Italy'),
 Row(Reviewer_Nationality='Cura ao'),
 Row(Reviewer_Nationality='Suriname'),
 Row(Reviewer_Nationality='Lithuania'),
 Row(Reviewer_Nationality='Norway'),
 Row(Reviewer_Nationality='Turkmenistan'),
 Row(Reviewer_Nationality='Spain'),
 Row(Reviewer_Nationality='Mauritania'),
 Row(Reviewer_Nationality='Guadeloupe'),
 Row(Reviewer_Nationality='Denmark'),
 Row(Reviewer_Nationality='Abkhazia Georgia'),
 Row(Reviewer_Nationality='Niger'),
 Row(Reviewer_Nationality='Bangladesh'),
 Row(Reviewer_Nationality='Barbados'),
 Row(Reviewer_Nationality='Iran'),
 Row(Reviewer_Nationality='Ireland'),
 Row(Reviewer_Nationality='Liechtenstein'),
 Row(Reviewer_Nationality='Congo'),
 Row(Reviewer_Nationality='Thailand'),
 Row(Reviewer_Nationality='Laos'),
 Row(Reviewer_Nationality='Swaziland'),
 Row(Reviewer_Nationality='Bhutan'),
 Row(Reviewer_Nationality='Democratic Republic of the Congo'),
 Row(Reviewer_Nationality='Morocco'),
 Row(Reviewer_Nationality='Monaco'),
 Row(Reviewer_Nationality='Panama'),
 Row(Reviewer_Nationality='Cape Verde'),
 Row(Reviewer_Nationality='Hong Kong'),
 Row(Reviewer_Nationality='Ukraine'),
 Row(Reviewer_Nationality='Venezuela'),
 Row(Reviewer_Nationality='Israel'),
 Row(Reviewer_Nationality='Iceland'),
 Row(Reviewer_Nationality='Antarctica'),
 Row(Reviewer_Nationality='Saint Kitts and Nevis'),
 Row(Reviewer_Nationality='Oman'),
 Row(Reviewer_Nationality='French Polynesia'),
 Row(Reviewer_Nationality='Saint Barts'),
 Row(Reviewer_Nationality='United States of America'),
 Row(Reviewer_Nationality='South Korea'),
 Row(Reviewer_Nationality='Cyprus'),
 Row(Reviewer_Nationality='Gibraltar'),
 Row(Reviewer_Nationality='Uruguay'),
 Row(Reviewer_Nationality='Mexico'),
 Row(Reviewer_Nationality='Aruba'),
 Row(Reviewer_Nationality='Estonia'),
 Row(Reviewer_Nationality='Montenegro'),
 Row(Reviewer_Nationality='Georgia'),
 Row(Reviewer_Nationality='Zimbabwe'),
 Row(Reviewer_Nationality='Indonesia'),
 Row(Reviewer_Nationality='Guam'),
 Row(Reviewer_Nationality='Guatemala'),
 Row(Reviewer_Nationality='Mongolia'),
 Row(Reviewer_Nationality='Azerbaijan'),
 Row(Reviewer_Nationality='Libya'),
 Row(Reviewer_Nationality='Grenada'),
 Row(Reviewer_Nationality='Armenia'),
 Row(Reviewer_Nationality='Tunisia'),
 Row(Reviewer_Nationality='Liberia'),
 Row(Reviewer_Nationality='Syria'),
 Row(Reviewer_Nationality='Honduras'),
 Row(Reviewer_Nationality='Trinidad and Tobago'),
 Row(Reviewer_Nationality='Saudi Arabia'),
 Row(Reviewer_Nationality='Uganda'),
 Row(Reviewer_Nationality='Wallis and Futuna'),
 Row(Reviewer_Nationality='Saint Vincent Grenadines'),
 Row(Reviewer_Nationality='French Guiana'),
 Row(Reviewer_Nationality='Namibia'),
 Row(Reviewer_Nationality='Switzerland'),
 Row(Reviewer_Nationality='Zambia'),
 Row(Reviewer_Nationality='Ethiopia'),
 Row(Reviewer_Nationality='Antigua Barbuda'),
 Row(Reviewer_Nationality='Latvia'),
 Row(Reviewer_Nationality='Jamaica'),
 Row(Reviewer_Nationality='United Arab Emirates'),
 Row(Reviewer_Nationality='Brunei'),
 Row(Reviewer_Nationality='South Sudan'),
 Row(Reviewer_Nationality='U S Virgin Islands'),
 Row(Reviewer_Nationality='Saint Lucia'),
 Row(Reviewer_Nationality='Saint Martin'),
 Row(Reviewer_Nationality='Guinea'),
 Row(Reviewer_Nationality='Canada'),
 Row(Reviewer_Nationality='Seychelles'),
 Row(Reviewer_Nationality='Macedonia'),
 Row(Reviewer_Nationality='Kyrgyzstan'),
 Row(Reviewer_Nationality='Uzbekistan'),
 Row(Reviewer_Nationality='Faroe Islands'),
 Row(Reviewer_Nationality='Samoa'),
 Row(Reviewer_Nationality='Czech Republic'),
 Row(Reviewer_Nationality='Mozambique'),
 Row(Reviewer_Nationality='Cook Islands'),
 Row(Reviewer_Nationality='Brazil'),
 Row(Reviewer_Nationality='Belize'),
 Row(Reviewer_Nationality='Kenya'),
 Row(Reviewer_Nationality='Gambia'),
 Row(Reviewer_Nationality='Lebanon'),
 Row(Reviewer_Nationality='Slovenia'),
 Row(Reviewer_Nationality='St Pierre and Miquelon'),
 Row(Reviewer_Nationality='Dominican Republic'),
 Row(Reviewer_Nationality='Tanzania'),
 Row(Reviewer_Nationality='Japan'),
 Row(Reviewer_Nationality='Botswana'),
 Row(Reviewer_Nationality='Luxembourg'),
 Row(Reviewer_Nationality='New Zealand'),
 Row(Reviewer_Nationality='United States Minor Outlying Islands'),
 Row(Reviewer_Nationality='Bosnia and Herzegovina'),
 Row(Reviewer_Nationality='Haiti'),
 Row(Reviewer_Nationality='Poland'),
 Row(Reviewer_Nationality='Portugal'),
 Row(Reviewer_Nationality='Australia'),
 Row(Reviewer_Nationality='Cameroon'),
 Row(Reviewer_Nationality='Papua New Guinea'),
 Row(Reviewer_Nationality='Romania'),
 Row(Reviewer_Nationality='Bulgaria'),
 Row(Reviewer_Nationality='Austria'),
 Row(Reviewer_Nationality='Nepal'),
 Row(Reviewer_Nationality='Kazakhstan'),
 Row(Reviewer_Nationality='Egypt'),
 Row(Reviewer_Nationality='Costa Rica'),
 Row(Reviewer_Nationality='El Salvador'),
 Row(Reviewer_Nationality='Serbia'),
 Row(Reviewer_Nationality='South Africa'),
 Row(Reviewer_Nationality='Bermuda'),
 Row(Reviewer_Nationality='Bahrain'),
 Row(Reviewer_Nationality='Colombia'),
 Row(Reviewer_Nationality='Hungary'),
 Row(Reviewer_Nationality='Pakistan'),
 Row(Reviewer_Nationality='Vanuatu'),
 Row(Reviewer_Nationality='Vatican City'),
 Row(Reviewer_Nationality='Mauritius'),
 Row(Reviewer_Nationality='United Kingdom'),
 Row(Reviewer_Nationality='Moldova'),
 Row(Reviewer_Nationality='Vietnam'),
 Row(Reviewer_Nationality='Netherlands'),
 Row(Reviewer_Nationality='Mali')]

In [57]:
df_nationality_tmp = df_hotel_countries.join(df_cleaned.select('id','Reviewer_Nationality', 'Reviewer_Score'), ['id'] )

In [58]:
df_nationality_tmp.explain()

== Physical Plan ==
*Project [id#251L, Hotel_Country#252, Reviewer_Nationality#6, Reviewer_Score#11]
+- *SortMergeJoin [id#251L], [id#0L], Inner
   :- *Sort [id#251L ASC NULLS FIRST], false, 0
   :  +- Exchange hashpartitioning(id#251L, 200)
   :     +- *Filter isnotnull(id#251L)
   :        +- Scan ExistingRDD[id#251L,Hotel_Country#252]
   +- *Sort [id#0L ASC NULLS FIRST], false, 0
      +- Exchange hashpartitioning(id#0L, 200)
         +- *Project [id#0L, Reviewer_Nationality#6, Reviewer_Score#11]
            +- *Filter isnotnull(id#0L)
               +- *FileScan csv [id#0L,Reviewer_Nationality#6,Reviewer_Score#11] Batched: false, Format: CSV, Location: InMemoryFileIndex[hdfs://masterbig-1.itc.unipi.it:54310/user/student18/df_cleaned.csv], PartitionFilters: [], PushedFilters: [IsNotNull(id)], ReadSchema: struct<id:bigint,Reviewer_Nationality:string,Reviewer_Score:double>

In [64]:
# adding column with Abroad feature: 1 if reviewer was abroad, 0 otherwise

df_abroad_temp = df_nationality_tmp.rdd.map(lambda row: (row['id'], 0 if row['Reviewer_Nationality'] == row['Hotel_Country'] else 1 )).toDF(['id','Abroad'])

df_nationality = df_nationality_tmp.join(df_abroad_temp, ['id'])

df_nationality.take(3)

[Row(id=26, Hotel_Country='Netherlands', Reviewer_Nationality='United Kingdom', Reviewer_Score=9.6, Abroad=1),
 Row(id=29, Hotel_Country='Netherlands', Reviewer_Nationality='Hungary', Reviewer_Score=9.2, Abroad=1),
 Row(id=474, Hotel_Country='United Kingdom', Reviewer_Nationality='United States of America', Reviewer_Score=6.3, Abroad=1)]

In [70]:
df_nationality.rdd.filter(lambda x: x['Abroad']== 0).count()

178357

In [72]:
df_nationality.printSchema()

root
 |-- id: long (nullable = true)
 |-- Hotel_Country: string (nullable = true)
 |-- Reviewer_Nationality: string (nullable = true)
 |-- Reviewer_Score: double (nullable = true)
 |-- Abroad: long (nullable = true)

In [71]:
df_nationality.createTempView('nationality')

In [84]:
# 
df_mean_score_by_Hotel_nationality =  spark.sql("SELECT Reviewer_Nationality, AVG(Reviewer_Score) AS AVG_SCORE \
                                                FROM nationality \
                                                GROUP BY Reviewer_Nationality \
                                                ORDER BY AVG_SCORE DESC\
                                                ")
df_mean_score_by_Hotel_nationality.show()

+--------------------+-----------------+
|Reviewer_Nationality|        AVG_SCORE|
+--------------------+-----------------+
|              Crimea|             10.0|
|  Svalbard Jan Mayen|             10.0|
|   Equatorial Guinea|             10.0|
|             Comoros|             10.0|
|          Cape Verde|              9.6|
|          Tajikistan|          9.35625|
|Central Africa Re...|              9.3|
|        Saint Martin|            9.275|
|              Gambia|             9.26|
|             Burundi|9.200000000000001|
|         South Sudan|              9.2|
|               Benin|9.166666666666666|
|               Congo|9.166666666666666|
|               Niger|             9.15|
|             Vanuatu|9.075000000000001|
|Bonaire St Eustat...|9.066666666666666|
|         Saint Barts|9.033333333333333|
|          Kyrgyzstan|8.995238095238093|
|St Pierre and Miq...|             8.95|
|           Cocos K I|             8.95|
+--------------------+-----------------+
only showing top 20 rows

#### Quant'è la differenza tra media aritmetica e media geografica sferica/ellissoide?