In [36]:
import toLog
log = toLog.log('Feature extraction starting')

In [37]:
from pyspark.sql import SparkSession

spark = (SparkSession.builder
         .appName('Python spark')
         .config('spark.some.config.option','some-value')
         .getOrCreate()
         )

In [38]:
# read file from hdfs and infer schema
df_cleaned = spark.read.csv("hdfs://masterbig-1.itc.unipi.it:54310/user/student18/df_cleaned.csv", header = True, inferSchema = True)
df_cleaned.printSchema()

root
 |-- id: long (nullable = true)
 |-- Hotel_Address: string (nullable = true)
 |-- Additional_Number_of_Scoring: integer (nullable = true)
 |-- Review_Date: string (nullable = true)
 |-- Average_Score: double (nullable = true)
 |-- Hotel_Name: string (nullable = true)
 |-- Reviewer_Nationality: string (nullable = true)
 |-- Review_Total_Negative_Word_Counts: integer (nullable = true)
 |-- Total_Number_of_Reviews: integer (nullable = true)
 |-- Review_Total_Positive_Word_Counts: integer (nullable = true)
 |-- Total_Number_of_Reviews_Reviewer_Has_Given: integer (nullable = true)
 |-- Reviewer_Score: double (nullable = true)
 |-- Tags: string (nullable = true)
 |-- days_since_review: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- lng: string (nullable = true)
 |-- Review: string (nullable = true)
 |-- Hotel_Country: string (nullable = true)

In [43]:
df_cleaned.rdd.filter(lambda x: x['Review'] is None).count()

0

In [39]:
# register table (if not exists)
try:
    df_cleaned.createTempView('hotels')
except:
    pass

In [40]:
# selecting only the reviews using spark.sql
df_hotels = spark.sql("SELECT Hotel_Name, Review, lat, lng FROM hotels")
df_hotels.show()

+--------------------+--------------------+----------+----------+
|          Hotel_Name|              Review|       lat|       lng|
+--------------------+--------------------+----------+----------+
|         Hotel Arena|the staff in the ...|52.3605759| 4.9159683|
|         Hotel Arena|the overall hotel...|52.3605759| 4.9159683|
|    K K Hotel George|no bad experience...|51.4918878|-0.1949706|
|    K K Hotel George|the room is bit s...|51.4918878|-0.1949706|
|Apex Temple Court...|my son and his fa...|51.5137335|-0.1087512|
|Apex Temple Court...|nothing to improv...|51.5137335|-0.1087512|
|Apex Temple Court...|my self and my wi...|51.5137335|-0.1087512|
|Apex Temple Court...|expensive but thi...|51.5137335|-0.1087512|
|Apex Temple Court...|nothing not to li...|51.5137335|-0.1087512|
|Apex Temple Court...|rooms are comfort...|51.5137335|-0.1087512|
|The Park Grand Lo...|a socket for plug...|51.5142184|-0.1809032|
|The Park Grand Lo...|staff very friend...|51.5142184|-0.1809032|
|The Park Grand Lo...|I would ve liked ...|51.5142184|-0.1809032|
|The Park Grand Lo...|everytime I book ...|51.5142184|-0.1809032|
|The Park Grand Lo...|cold hotel breakf...|51.5142184|-0.1809032|
|The Park Grand Lo...| not well maintained|51.5142184|-0.1809032|
|The Park Grand Lo...|lovely hotel cent...|51.5142184|-0.1809032|
|The Principal London|some of us found ...|51.5226217|-0.1251602|
|The Principal London|I feel that the b...|51.5226217|-0.1251602|
|The Principal London|the side facing t...|51.5226217|-0.1251602|
+--------------------+--------------------+----------+----------+
only showing top 20 rows

In [41]:
print(df_hotels.count())

515500

In [6]:
rddHotels = df_hotels.select('Hotel_Name', 'Review', 'lat', 'lng').rdd

# Features extraction

In [7]:
from getTriples import getTriples

In [8]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
vader = SentimentIntensityAnalyzer()

In [9]:
def splitTriple(record):
    res = []
    for tripla in record[1]:
        res.append((record[0],tripla))
        
    return res

In [ ]:
(rddHotels
 .filter(lambda x: x['Review'] is not None)
 .map(lambda x: (x['Hotel_Name'], getTriples(x['Review'])))
  .flatMap(splitTriple)
).take(40)

In [ ]:
log.toLog('starting triples extraction')

In [10]:
SAMPLE_PERC = 0.001
df_features = (rddHotels
 #.sample(False, SAMPLE_PERC) 
 .filter(lambda x: x['Review'] is not None)
 .map(lambda x: (x['Hotel_Name'], getTriples(x['Review'])))
 .flatMap(splitTriple)
 .map(lambda x:( x[0], x[1][0], vader.polarity_scores(" ".join(x[1]))['compound'] )  )
).toDF(["hotel", "feature", "scores"])

In [11]:
# register table (if not exists)
try:
    df_features.createTempView('features')
except:
    spark.catalog.dropTempView('features')
    df_features.createTempView('features')

In [12]:
spark.sql("SELECT hotel, feature, scores from features").show()

+--------------------+-----------+-------+
|               hotel|    feature| scores|
+--------------------+-----------+-------+
|DoubleTree by Hil...|        bed|-0.1027|
|The Mandeville Hotel|   standard|    0.0|
|The Mandeville Hotel|      staff| 0.5859|
|The Mandeville Hotel|conserierge|    0.0|
|The Mandeville Hotel|      asset|  0.743|
|Best Western Plus...|   location| 0.6249|
|Best Western Plus...|      rooms| 0.5859|
|Shangri La Hotel ...|  furniture| 0.5719|
|Royal Hotel Champ...|    options| -0.296|
|Royal Hotel Champ...|    cutlery|    0.0|
|Intercontinental ...|        bar|    0.0|
|Acad mie H tel Sa...|    nothing|-0.1511|
|Acad mie H tel Sa...|      staff| 0.4215|
|Acad mie H tel Sa...|     dinner|    0.0|
|The Premier Notti...|   bathroom|    0.0|
|The Premier Notti...|        bit|    0.0|
|The Premier Notti...|        bed| 0.5106|
|The Premier Notti...|       room| 0.4215|
|The Premier Notti...|      stuff| 0.4754|
|DoubleTree by Hil...|        pre|    0.0|
+--------------------+-----------+-------+
only showing top 20 rows

In [13]:
spark.sql("SELECT hotel, feature, \
AVG(scores) as avg_scores, COUNT(scores) as n_scores \
FROM features GROUP BY hotel, feature \
ORDER BY hotel, avg_scores  ").show(40)

+--------------------+------------+----------+--------+
|               hotel|     feature|avg_scores|n_scores|
+--------------------+------------+----------+--------+
|                  41|  everything|       0.0|       1|
|                  41|      access|       0.0|       1|
|                  41|          tv|       0.0|       1|
|                  41|        home|       0.0|       1|
|Acad mie H tel Sa...|     nothing|   -0.1511|       1|
|Acad mie H tel Sa...|      dinner|       0.0|       1|
|Acad mie H tel Sa...|       staff|    0.4215|       1|
|    Acevi Villarroel|         caf|       0.0|       1|
|    Acevi Villarroel|         day|       0.0|       1|
|    Acevi Villarroel|         spa|    0.5719|       1|
|  Aloft London Excel|        room|       0.0|       1|
|  Aloft London Excel|        feel|       0.0|       1|
|  Aloft London Excel|    chargers|    0.2732|       1|
|  Aloft London Excel|connectivity|    0.4404|       1|
|    Amadi Park Hotel|        room|       0.0|       1|
|Amba Hotel Marble...|        room|    0.4019|       1|
|Amba Hotel Marble...|   amenities|    0.4404|       1|
|Andaz London Live...|       place|   -0.3231|       2|
|Andaz London Live...| temperature|   -0.1027|       1|
|Andaz London Live...|         bed|       0.0|       1|
|Andaz London Live...|        plug|       0.0|       1|
|Andaz London Live...|        view|       0.0|       1|
|Andaz London Live...|      fridge|       0.0|       1|
|Andaz London Live...|      mirror|       0.0|       1|
|Andaz London Live...|      player|       0.0|       1|
|Andaz London Live...|      buffet|       0.0|       1|
|Andaz London Live...|    diffcult|       0.0|       1|
|Andaz London Live...|        room|       0.0|       1|
|Andaz London Live...|      hotels|    0.4404|       1|
|Apex City Of Lond...|    birthday|       0.0|       1|
|Apex City Of Lond...|      burger|    0.6249|       1|
|Apex Temple Court...|        beds|    0.4404|       1|
|Apex Temple Court...|       staff|    0.4939|       1|
|          Arbor City|      hoxton|       0.0|       1|
|          Arbor City|        soup|    0.5719|       1|
|          Arbor City|       value|    0.6801|       1|
|          Arbor City|       staff|    0.8126|       1|
|     Arbor Hyde Park|   breakfast|    0.4939|       1|
|     Arbor Hyde Park|         bed|    0.5563|       1|
|Atlantis Hotel Vi...|   furniture|       0.0|       1|
+--------------------+------------+----------+--------+
only showing top 40 rows

In [14]:
df_features.count()

1724

# Defining categories using Word2Vec

In [ ]:
log.toLog('starting Word2Vec')

In [15]:
from pyspark.mllib.feature import Word2Vec

In [19]:
rdd_tokens = (df_cleaned.select("Review").rdd
              #.sample(False,0.1)
              .filter(lambda x: x['Review'] is not None)
              .map(lambda x: x['Review'].split(" "))
             )

In [20]:
word2Vec = Word2Vec().setMinCount(50).setVectorSize(200).setWindowSize(4)

In [21]:
model = word2Vec.fit(rdd_tokens)

In [22]:
categories = ['breakfast', 'staff', 'room', 'internet', 'location', 'bath', 'food']
#food(breakfast), #staff(service), #room, #internet(wi-fi), #location, #bath

In [23]:
all_categories = {cat:dict(model.findSynonyms(cat, num = 20)) for cat in categories}

In [24]:
from pprint import pprint

In [25]:
pprint(all_categories)

{'bath': {'bathtub': 0.7747597136378125,
          'chair': 0.7057696238180915,
          'curtain': 0.8221979716434152,
          'drain': 0.69020862582995,
          'gel': 0.7941029686718208,
          'hairdryer': 0.7072194399577826,
          'leaked': 0.724425893579412,
          'microwave': 0.6793925850183672,
          'mirror': 0.7003404123037882,
          'rain': 0.7740943176797076,
          'screen': 0.7764742030491375,
          'separate': 0.6809073623380965,
          'shower': 0.7346343788554097,
          'sink': 0.7451760409257452,
          'soap': 0.6941982680161047,
          'toilet': 0.7038944708923538,
          'toiletries': 0.6886999559916872,
          'towel': 0.7442922735865374,
          'tub': 0.8081234815377862,
          'wardrobe': 0.6739209747884857},
 'breakfast': {'ambiance': 0.4006449847052091,
               'breakfast.': 0.42801991514506854,
               'breakfasts': 0.4602912354652437,
               'buffet': 0.4354548126171054,
               'croissants': 0.39421652168052307,
               'dinner': 0.49792555390523974,
               'food': 0.6664242862539209,
               'lunch': 0.3898616778715701,
               'meal': 0.38139104381224875,
               'meals': 0.5068390114186432,
               'menu': 0.4458109009155635,
               'plentiful': 0.44812148016705855,
               'price': 0.4451543520610909,
               'quality': 0.4628531077882137,
               'restaurant': 0.41150908977966233,
               'selection': 0.4313108041781035,
               'service': 0.3868952979435263,
               'spread': 0.4329431974165308,
               'tasty': 0.4209025038928787,
               'varied': 0.38820499753881305},
 'food': {'bacon': 0.567333024014737,
          'bread': 0.570259279792812,
          'breakfast': 0.666424361023118,
          'choices': 0.5923330875705668,
          'croissants': 0.559342866586424,
          'dinner': 0.6190873327705948,
          'drinks': 0.5935625740950983,
          'eggs': 0.5651473978667428,
          'foods': 0.5945532998181159,
          'italian': 0.5803157603809688,
          'meals': 0.5784662384739503,
          'menu': 0.7152232764402012,
          'plentiful': 0.5712278980063681,
          'quality': 0.6118601028823453,
          'restaurant': 0.5971704038563971,
          'selection': 0.569774039091619,
          'spread': 0.5526466250464259,
          'tasty': 0.559565815120102,
          'varied': 0.5520567664021188,
          'variety': 0.573885407547144},
 'internet': {'ac': 0.4263093109878941,
              'computer': 0.46950797253663457,
              'connection': 0.7013219310971538,
              'fast': 0.5689478191288986,
              'fi': 0.5524734733596598,
              'gluten': 0.50762348146354,
              'gym': 0.4172101339287722,
              'minibar': 0.5101578270398681,
              'mobile': 0.4745375749069146,
              'movies': 0.5029473946018969,
              'poor': 0.4195899719851007,
              'signal': 0.7262799847727232,
              'slow': 0.4252069492312067,
              'sometimes': 0.4576826581828929,
              'speed': 0.6330995385077628,
              'television': 0.4289258889958714,
              'tv': 0.4366618734292204,
              'weak': 0.5512189290057463,
              'wi': 0.6095885078814791,
              'wifi': 0.8763774204974811},
 'location': {'ambiance': 0.403939325319337,
              'ambience': 0.34079615528096807,
              'base': 0.34116057921860515,
              'cleanness': 0.36828941023602785,
              'environment': 0.4115300661729066,
              'everything': 0.37244573732804753,
              'everything.': 0.3547346446017924,
              'excel': 0.35627843678411975,
              'ideally': 0.4038515330742208,
              'location.': 0.42420674102335404,
              'money.': 0.37644356348670116,
              'neighborhood': 0.34146352006224473,
              'neighbourhood': 0.3975566266617231,
              'none.': 0.37592199755965006,
              'parking.': 0.340979326369939,
              'position': 0.7289062944540294,
              'proximity': 0.3846838330320495,
              'quirky': 0.34834755792604666,
              'service.': 0.34797930804302213,
              'wifi.': 0.34877979065824044},
 'room': {'apartment': 0.5188731622558717,
          'bathroom': 0.536124693375869,
          'bathtub': 0.4351664750629612,
          'bed': 0.3639612350672775,
          'bedroom': 0.7062659681466369,
          'ceiling': 0.36553693396807796,
          'cupboard': 0.34925415195951276,
          'duvet': 0.43309516556442085,
          'hair': 0.3768319815393304,
          'jacuzzi': 0.3601488165952963,
          'king': 0.4035173886716145,
          'kitchenette': 0.39875750998850706,
          'maid': 0.48243837661252237,
          'mattress': 0.38077000049080206,
          'room.': 0.4245358917149714,
          'rooms': 0.47902602581553166,
          'sink': 0.3543710668402185,
          'strong': 0.35004012259284856,
          'suite': 0.428277383389836,
          'tub': 0.3708149235181752},
 'staff': {'accommodating': 0.4930986923352758,
           'cheerful': 0.48146798151640824,
           'concierge': 0.5270953435341551,
           'cooperative': 0.5152628702457747,
           'courteous': 0.5144134172957853,
           'doorman': 0.5578031526622641,
           'efficient': 0.47704703214877636,
           'employees': 0.617169735081276,
           'informative': 0.5286853349902441,
           'knowledgeable': 0.5783620469939557,
           'personnel': 0.6952811836557643,
           'polite': 0.47780880275236226,
           'professional': 0.5031274322325253,
           'receptionists': 0.5878808808505792,
           'responsive': 0.5138154693479466,
           'smiling': 0.4881711833223646,
           'staffs': 0.7547013450934268,
           'stuff': 0.7389743755234144,
           'team': 0.5721084953296476,
           'welcoming': 0.5064657149433378}}

In [27]:
import json

with open('categories.json', 'w') as outfile:
    json.dump(all_categories, outfile)

In [28]:
for category, dict_feat in all_categories.items():
    copyOfDict = dict(dict_feat)
    for word, similarity in copyOfDict.items():
        if similarity < 0.6:
            del dict_feat[word] 
    
pprint(all_categories)

{'bath': {'bathtub': 0.7747597136378125,
          'chair': 0.7057696238180915,
          'curtain': 0.8221979716434152,
          'drain': 0.69020862582995,
          'gel': 0.7941029686718208,
          'hairdryer': 0.7072194399577826,
          'leaked': 0.724425893579412,
          'microwave': 0.6793925850183672,
          'mirror': 0.7003404123037882,
          'rain': 0.7740943176797076,
          'screen': 0.7764742030491375,
          'separate': 0.6809073623380965,
          'shower': 0.7346343788554097,
          'sink': 0.7451760409257452,
          'soap': 0.6941982680161047,
          'toilet': 0.7038944708923538,
          'toiletries': 0.6886999559916872,
          'towel': 0.7442922735865374,
          'tub': 0.8081234815377862,
          'wardrobe': 0.6739209747884857},
 'breakfast': {'food': 0.6664242862539209},
 'food': {'breakfast': 0.666424361023118,
          'dinner': 0.6190873327705948,
          'menu': 0.7152232764402012,
          'quality': 0.6118601028823453},
 'internet': {'connection': 0.7013219310971538,
              'signal': 0.7262799847727232,
              'speed': 0.6330995385077628,
              'wi': 0.6095885078814791,
              'wifi': 0.8763774204974811},
 'location': {'position': 0.7289062944540294},
 'room': {'bedroom': 0.7062659681466369},
 'staff': {'employees': 0.617169735081276,
           'personnel': 0.6952811836557643,
           'staffs': 0.7547013450934268,
           'stuff': 0.7389743755234144}}

In [ ]:
all_categories

In [ ]:
#eliminare duplicati tra categorie differenti

In [29]:
def assign_categories(feat):
    for cat,dict_feat in all_categories.items():
        if feat == cat or feat in dict_feat  :
            return cat
    
    return 'other'

In [31]:
df_categories = (df_features.rdd
                 .map(lambda x: (x['hotel'],x['feature'],assign_categories(x['feature']), x['scores'] ))
                 .toDF(['hotel', 'feature', 'categories', 'score'])
                )

In [32]:
df_categories.head(10)

[Row(hotel='DoubleTree by Hilton London Islington', feature='bed', categories='other', score=-0.1027),
 Row(hotel='The Mandeville Hotel', feature='standard', categories='other', score=0.0),
 Row(hotel='The Mandeville Hotel', feature='staff', categories='staff', score=0.5859),
 Row(hotel='The Mandeville Hotel', feature='conserierge', categories='other', score=0.0),
 Row(hotel='The Mandeville Hotel', feature='asset', categories='other', score=0.743),
 Row(hotel='Best Western Plus Hotel Galles', feature='location', categories='location', score=0.6249),
 Row(hotel='Best Western Plus Hotel Galles', feature='rooms', categories='other', score=0.5859),
 Row(hotel='Shangri La Hotel at The Shard London', feature='furniture', categories='other', score=0.5719),
 Row(hotel='Royal Hotel Champs Elys es', feature='options', categories='other', score=-0.296),
 Row(hotel='Royal Hotel Champs Elys es', feature='cutlery', categories='other', score=0.0)]

In [ ]:
df_categories.write.csv("hdfs://masterbig-1.itc.unipi.it:54310/user/student18/df_features.csv", header = True)

In [33]:
# register table (if not exists)
try:
    df_categories.createTempView('categories')
except:
    spark.catalog.dropTempView('categories')
    df_categories.createTempView('categories')

In [34]:
spark.sql("SELECT hotel, categories, feature, score from categories").show()

+--------------------+----------+-----------+-------+
|               hotel|categories|    feature|  score|
+--------------------+----------+-----------+-------+
|DoubleTree by Hil...|     other|        bed|-0.1027|
|The Mandeville Hotel|     other|   standard|    0.0|
|The Mandeville Hotel|     staff|      staff| 0.5859|
|The Mandeville Hotel|     other|conserierge|    0.0|
|The Mandeville Hotel|     other|      asset|  0.743|
|Best Western Plus...|  location|   location| 0.6249|
|Best Western Plus...|     other|      rooms| 0.5859|
|Shangri La Hotel ...|     other|  furniture| 0.5719|
|Royal Hotel Champ...|     other|    options| -0.296|
|Royal Hotel Champ...|     other|    cutlery|    0.0|
|Intercontinental ...|     other|        bar|    0.0|
|Acad mie H tel Sa...|     other|    nothing|-0.1511|
|Acad mie H tel Sa...|     staff|      staff| 0.4215|
|Acad mie H tel Sa...|      food|     dinner|    0.0|
|The Premier Notti...|     other|   bathroom|    0.0|
|The Premier Notti...|     other|        bit|    0.0|
|The Premier Notti...|     other|        bed| 0.5106|
|The Premier Notti...|      room|       room| 0.4215|
|The Premier Notti...|     staff|      stuff| 0.4754|
|DoubleTree by Hil...|     other|        pre|    0.0|
+--------------------+----------+-----------+-------+
only showing top 20 rows

In [35]:
spark.sql("SELECT hotel, categories, AVG(score) as avg_scores, COUNT(score) as n_scores \
FROM categories GROUP BY hotel, categories ORDER BY hotel, avg_scores  ")

DataFrame[hotel: string, categories: string, avg_scores: double, n_scores: bigint]

# Export final dataframe

In [ ]:
log.toLog('start group by hotel/categories')

In [ ]:
import pyspark.sql.functions as func

In [ ]:
df_final = df_categories.groupBy("hotel").pivot('categories').agg(func.avg('score'))

In [ ]:
df_final.write.csv("hdfs://masterbig-1.itc.unipi.it:54310/user/student18/df_categories.csv", header = True)

In [ ]:
log.toLog('end feature extraction')
log.close()